[submodule "budougumi0617"]
	path = budougumi0617
	url = https://github.com/budougumi0617/ElixirTraining.git

[submodule "mikan"]
	path = mikan
	url = https://github.com/mikan/elixir-practice.git
[submodule "mrbearing"]
	path = mrbearing
	url = git@github.com:MrBearing/elixir_prac.git
